In [2]:
a = 10

In [5]:
# if a< 15:
a < 15

True

In [7]:
if a< 15:
    print("My name is Diksha")

My name is Diksha

In [9]:
if a< 15:
    pass  # dead code

In [11]:
if a < 15:
    print("True")
else:
    print("False")

True

In [14]:
if 24 < 15: 
    Print("Diksha")

In [17]:
if 10 < 3:
    print("10 is < 3")
else:
    print("wrong statement")

wrong statement

In [18]:
if 5<10:
    print("right statement")
else:
    print("wrong statement")

right statement

In [22]:
income = int(input())
if income < 50:
    print("I will be able to buy phone")
elif income < 70:
    print("I will be able to rent a house")
elif income < 90:
    print("I will be able to buy a car")
else:
    print("I won't be able to buy anything")

90
I won't be able to buy anything

In [30]:
Total_price = int(input())
if Total_price > 20000:
    discount = Total_price * .20
    print("Discount will be", discount)
elif Total_price <= 7000:
    discount = Total_price * .05
    print("Discount will be", discount)
else:
    print("won't be able to give any discount")

4565
Discount will be 228.25

In [40]:
coup = input()
if coup == "DIKSHA04":
    print("You will be able to give a discount of 5%")
    paid_amount = 18000 - 18000*.05
    print("You will be able to get Neuron with this amount", paid_amount)
else :
    print("Kindly use a valid coupon code")

DIKSHA04
You will be able to give a discount of 5%
You will be able to get Neuron with this amount 17100.0

In [44]:
study_hour = int(input())
if study_hour < 1:
    print("It may take 8-9 month of time to make a transition")
elif study_hour < 4 and study_hour >1:
    print("It may take 6 month of time to make a transition")
elif study_hour < 4 and study_hour >1:
    print("It may take 4 month of time to make a transition")
else:
    print("It will be difficult")

2
It may take 6 month of time to make a transition

In [45]:
a = 9
if a == 9:
    print("valid")

valid

In [56]:
s = input("enter input")
course = input("enter input""enter input")
service = input("enter input")
if s == "oneneuron":
    if course == "DSA":
        print("Job prepration is available")
    elif course == "Blockchain":
        print("not available")
    elif course == "FSDS":
        print("Job prepration is available")
    else: 
        print("not availabe, raise demand")
elif s == "oneneuronservice":
    if service == "courserequest":
        print("working on it")
    elif service == "doubt":
        print("get in touch with you soon")
    elif service == "module":
        print("get in touch with you soon")
    elif service == "workwithus":
        print("get in touch with you soon")
    else:
        print("give us feedback")
else:
    print("Kindly connect with team")

enter inputoneneuron
enter inputenter inputFSDS
enter inputdoubt
Job prepration is available

In [58]:
l= [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [62]:
for i in "Diksha":
    print(i)

D
i
k
s
h
a

In [63]:
t = (1,2,3,4,5,6,7,7)

In [64]:
for i in t:
    print(i)

1
2
3
4
5
6
7
7

In [65]:
l =[1,2,3,4.5,4+7j, "Diksha"]

In [66]:
for i in l:
    print(i)

1
2
3
4.5
(4+7j)
Diksha

In [70]:
for i in l:
    print(type(i), "type of" ,i)

<class 'int'> type of 1
<class 'int'> type of 2
<class 'int'> type of 3
<class 'float'> type of 4.5
<class 'complex'> type of (4+7j)
<class 'str'> type of Diksha

In [68]:
type(1)

int

In [73]:
l = [1,4,5.6]
l1 = []
for i in l:
    print(i+2)
    l1.append(i+2)

3
6
7.6

In [74]:
l1

[3, 6, 7.6]

In [75]:
l = [2,45,78,12, "Diksha", 6+7j, [56,67,78]]

In [76]:
for i in l:
    if type (i)==int:
        print(i)

2
45
78
12

In [77]:
for i in l:
    if type (i)==int:
        print(i)
    elif type(i)== list:
        for j in i:
            print(j)

2
45
78
12
56
67
78

In [110]:
l = [2,45,78,12,"Diksha", 6+7j, [56,67,78,"dsfdsf"]]

In [87]:
#print index of all the element
for i in range(len(l)):
    print("index", i, "for an element", l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element Diksha
index 5 for an element (6+7j)
index 6 for an element [56, 67, 78, 'dsfdsf']

In [93]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 Diksha
5 (6+7j)
6 [56, 67, 78, 'dsfdsf']

In [115]:
l

[2, 45, 78, 12, 'Diksha', (6+7j), [56, 67, 78, 'dsfdsf']]

In [116]:
#extract all the list of char if element is string
for i in l:
    if type(i) == str :
        l1 = []
        for j in i :
            l1.append(j)
        print(l1)

['D', 'i', 'k', 's', 'h', 'a']

In [117]:
l

[2, 45, 78, 12, 'Diksha', (6+7j), [56, 67, 78, 'dsfdsf']]

In [118]:
#try to return a list after squaring of all the int element
l2 = []
for i in l:
    if type(i) == int:
        l2.append(i**2)

In [119]:
l2

[4, 2025, 6084, 144]

In [120]:
l= ["name", "emailid", "phoneno", "address"]

In [121]:
for i in l:
    print(i)

name
emailid
phoneno
address

In [122]:
s = "ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [123]:
for i in l:
    print(i)
else:
    print("If for loop is going to complete itself then it will come to else")

name
emailid
phoneno
address
If for loop is going to complete itself then it will come to else

In [124]:
l

['name', 'emailid', 'phoneno', 'address']

In [127]:
for i in l:
    if i =="emailid":
        break
    print(i)
else :
    print("check this statement")

name

In [129]:
s = "dikshslolekar"
for i in s:
    if i == "l":
        break
else:
    print("don't execute it unless and untill it is printing my name")

In [130]:
a = 1
while a < 6:
    print(a)
    a = a+1

1
2
3
4
5

In [131]:
a = 1
while a < 5:
    print(a)
    if a == 4:
        break
    a = a+1

1
2
3
4

In [134]:
a = 1
while a < 5:
    print(a)
    a= a+1
    if a == 3:
        continue
        a=a+1

1
2
3
4

In [139]:
range(6)

range(0, 6)

In [141]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [142]:
range(0,7)

range(0, 7)

In [146]:
list(range(4,50))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [147]:
list(range(3,40,4))

[3, 7, 11, 15, 19, 23, 27, 31, 35, 39]

In [148]:
list(range(3,10,-1))

[]

In [149]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [150]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [153]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [154]:
for i in range(10,-5,-2):
    print(i)

10
8
6
4
2
0
-2
-4

In [165]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("Diksha" , end= " ")
    print("\r")

Diksha
Diksha Diksha
Diksha Diksha Diksha
Diksha Diksha Diksha Diksha
Diksha Diksha Diksha Diksha Diksha

In [171]:
t

(1, 2, 3, 4, 5, 6, 7, 7)

In [172]:
t[::-1]

(7, 7, 6, 5, 4, 3, 2, 1)

In [181]:
for i in range(len(t)-1,-1,-1):
    print(t[i])

7
7
6
5
4
3
2
1

In [183]:
d = {"a": "Diksha" ,"b": "Sanjay", "c": "Lolekar"}

In [185]:
for i in d:
    print(i,)

a {'a': 'Diksha', 'b': 'Sanjay', 'c': 'Lolekar'}
b {'a': 'Diksha', 'b': 'Sanjay', 'c': 'Lolekar'}
c {'a': 'Diksha', 'b': 'Sanjay', 'c': 'Lolekar'}

In [187]:
d['c']

'Lolekar'

In [188]:
d.items()

dict_items([('a', 'Diksha'), ('b', 'Sanjay'), ('c', 'Lolekar')])

In [189]:
for i in d.items():
    print(i)

('a', 'Diksha')
('b', 'Sanjay')
('c', 'Lolekar')

In [191]:
s ={34,56,24,8,24,87,66,6,8,34,77,35,7876,466,355,355}

In [192]:
s

{6, 8, 24, 34, 35, 56, 66, 77, 87, 355, 466, 7876}

In [193]:
for i in s:
    print(i)

34
66
35
7876
6
355
8
77
466
87
56
24